<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Менеджер</title>
    <style>
        .list tr {
            margin: 0;
            padding: 0;
        }
        .list td {
            padding: 7px;
            border: solid 1px #888;
        }
        .list th {
            padding: 5px;
        }
        .filter {
            background-color: #a0a0a0;
            padding: 10px;
        }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#date").datepicker({
                dateFormat: "yy/mm/dd"
            });
        });
    </script>
</head>
<body>
<h1>Записи</h1>
<form method="get">
    <table class="filter" width="500">
        <tr>
            <td>Офис:</td>
            <td>
                {{#office}}
                    {{office}}
                {{/office}}
                {{^office}}Все{{/office}}
            </td>
        </tr>
        <tr>
            <td>Дата:</td>
            <td><input id="date" type="text" class="date" name="date" value="{{date}}"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" id="submit" class="submit" value="Применить"/></td>
        </tr>
        <input type="hidden" name="office" value="{{office}}"/>
    </table>
</form>
<table class="list" cellspacing="2" cellpadding="0">
    <tr>
        <th>ID записи</th>
        <th>ID пользователя</th>
        <th>Имя пользователя</th>
        <th>Телефон</th>
        <th>ID отделения</th>
        <th>Адрес отделения</th>
        <th>Время записи</th>
        <th>Время создания</th>
    </tr>
    {{#data}}
        <tr>
            <td><strong><a href="/manager/visit/{{id}}">{{id}}</a></strong></td>
            <td><strong>{{user_id}}</strong></td>
            <td><strong>{{user_name}}</strong></td>
            <td><strong>{{phone}}</strong></td>
            <td>{{office_id}}</td>
            <td>{{address}}</td>
            <td><a href="/manager/visit/{{id}}">{{record}}</a></td>
            <td>{{created}}</td>
        </tr>
    {{/data}}
</table>
</body>
</html>