<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запись №{{record_id}}</title>
</head>
<body>
<h1>Запись №{{record_id}}</h1>
<form method="post">
    <table class="filter" width="500">
        <tr>
            <td>Имя пользователя:</td>
            <td>
                {{user_name}}
            </td>
        </tr>
        <tr>
            <td>Офис:</td>
            <td>
                {{address}}
            </td>
        </tr>
        <tr>
            <td>Дата:</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>Пришел:</td>
            <td>
                <input
                    id="visit"
                    type="checkbox"
                    class="is_visited"
                    name="is_visited"
                    {{#is_visited}}
                    checked="checked"
                    {{/is_visited}}
                />
            </td>
        </tr>
        <tr>
            <td>Причина визита:</td>
            <td>
                <select class="visit_reason" name="visit_reason">
                    {{#common}}
                    <option {{#selected}} selected="selected" {{/selected}} value="{{value}}">{{value}}</option>
                    {{/common}}
                </select>
            </td>

        </tr>
        <tr>
            <td colspan="2"><input type="submit" id="submit" class="submit" value="Сохранить"/></td>
        </tr>
    </table>
</form>
</body>
</html>